<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>606821217711-4vl1q4ou7ta32kp558h87b1nab5ftdc2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.606821217711-4vl1q4ou7ta32kp558h87b1nab5ftdc2</string>
	<key>API_KEY</key>
	<string>AIzaSyBN99fpMF7_Bmg--gy2qIQWV7gt5ekkMDQ</string>
	<key>GCM_SENDER_ID</key>
	<string>606821217711</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wa2goose.quizfinity</string>
	<key>PROJECT_ID</key>
	<string>quizfinity-614d5</string>
	<key>STORAGE_BUCKET</key>
	<string>quizfinity-614d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:606821217711:ios:f7fb9094a9a4338c9a6b5a</string>
</dict>
</plist>